[submodule "libopenal/src/main/jni/openal-soft"]
	path = libopenal/src/main/jni/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "freetype2/src/main/jni/freetype2"]
	path = freetype2/src/main/jni/freetype2
	url = https://github.com/freetype/freetype.git
[submodule "glm/src/main/jni/glm"]
	path = glm/src/main/jni/glm
	url = https://github.com/g-truc/glm.git
[submodule "zlib/src/main/jni/zlib"]
	path = zlib/src/main/jni/zlib
	url = https://github.com/sandstranger/zlib.git
