[submodule "libopenal/src/main/jni/openal-soft"]
	path = libopenal/src/main/jni/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "freetype2/src/main/jni/freetype2"]
	path = freetype2/src/main/jni/freetype2
	url = https://github.com/freetype/freetype.git
[submodule "glm/src/main/jni/glm"]
	path = glm/src/main/jni/glm
	url = https://github.com/g-truc/glm.git
[submodule "zlib/src/main/jni/zlib"]
	path = zlib/src/main/jni/zlib
	url = https://github.com/sandstranger/zlib.git
[submodule "sdl2"]
	path = sdl2
	url = https://github.com/sandstranger/SDL.git
[submodule "app/src/main/jni/ArxLibertatis"]
	path = app/src/main/jni/ArxLibertatis
	url = https://github.com/sandstranger/ArxLibertatis.git
[submodule "gl4es/src/main/jni/gl4es"]
	path = gl4es/src/main/jni/gl4es
	url = https://github.com/sandstranger/gl4es.git
